{% extends 'base.html' %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
{% endblock %}

{% block pageContent %}
    <table class="table table-hover">
    <thead>
    <tr>
        <th>Subject</th>
        <th>Begin</th>
        <th>End</th>
        <th>Space</th>
        <th>Sign</th>
    </tr>
    </thead>

{% for subject in subjects %}
    <tbody>
        <td>{{ subject.name }}</td>
        <td>{{ subject.begin_at }}</td>
        <td>{{ subject.end_at }}</td>
        <td> {{ subject.actual_space }}/{{ subject.space }}</td>
        <td><button class="btn-success subjectButton" day="monday" subjectId="{{ subject.id }}"
			{% for key, value in participation.items %}
				{% if key == subject.id %}
					{{value.state}}>{{value.text}}
				{% endif %}
			{% endfor %}
		</button><br></td>
    </tbody>
{% endfor %}


    </table>
    <script>

        $(document).ready(function () {
            $('.subjectButton').click(function(){
                var day = $(this).attr('day');
                var subjectId = $(this).attr('subjectId');
                var button = $(this);

                $.ajax({
                    url: 'http://localhost:8000/sign/'+day+'/signme/'+subjectId
                }).done(function(data){
					if (data.answer == 'Pomyślnie zapisano') {
						button.prop('disabled', true);
						button.text("Zapisano!");
					} else {
						alert(data.answer);
					}
                });

            });
        });


</script>
{% endblock %}
