{% extends 'base.html' %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
{% endblock %}

{% block pageContent %}
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>Subject</th>
        <th>Begin</th>
        <th>End</th>
        <th>Day</th>
        <th>Sign</th>
    </tr>
    </thead>
    {% for subject in subjects %}
        <tbody>
        <td>{{subject.subject.name}}</td>
        <td>{{subject.subject.begin_at}}</td>
        <td>{{subject.subject.end_at}}</td>
        <td>{{subject.subject.get_day_display}}</td>
        <td><button id="mybtn" subjectId={{subject.id}} class="btn-danger subjectButton">Wypisz</button> <br></td>
        </tbody>
    {% endfor %}
    </table>
        <script>

        $(document).ready(function () {
            $('.subjectButton').click(function(){
                var subjectId = $(this).attr('subjectId');
                var button = $(this);
                button.prop('disabled', true);
                button.text("Wypisano!");
                $.ajax({
                    url: 'http://localhost:8000/sign/signmeout/'+ subjectId
                }).done(function(data){
                    console.log('subject send');
                    console.log('recived data: '+ JSON.stringify(data));
                });

            })
        })


</script>
{% endblock %}