{% extends 'base.html' %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
{% endblock %}

{% block pageContent %}
    <table class="table">
    <thead>
    <tr>
        <th>Subject</th>
        <th>Begin</th>
        <th>End</th>
        <th>Sign</th>
    </tr>
    </thead>

{% for subject in subjects %}
    <tbody>
        <td>{{ subject.name }}</td>
        <td>{{ subject.begin_at }}</td>
        <td>{{ subject.end_at }}</td>
        <td><button class="btn-success subjectButton" day="thursday" subjectId="{{ subject.id }}"> Zapisz </button><br></td>
    </tbody>
{% endfor %}

    </table>
    <script>

        $(document).ready(function () {
            $('.subjectButton').click(function(){
                var day = $(this).attr('day');
                var subjectId = $(this).attr('subjectId');

                console.log('dzien: '+day+', id: '+subjectId)

                $.ajax({
                    url: 'http://localhost:8000/sign/'+day+'/signme/'+subjectId
                }).done(function(data){
                    console.log('subject send');
                    console.log('recived data: '+ JSON.stringify(data));
                });

            })
        })


</script>
{% endblock %}
