<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}">
    {% block scripts %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-default" id="bar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Student Signer</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'index' %}">Home</a></li>
        {% if user.is_authenticated %}
      <li><a href="{% url 'showMonday' %}">Monday</a></li>
      <li><a href="{% url 'showTuesday' %}">Tuesday</a></li>
      <li><a href="{% url 'showWednesday' %}">Wednesday</a></li>
      <li><a href="{% url 'showThursday' %}">Thursday</a></li>
      <li><a href="{% url 'showFriday' %}">Friday</a></li>
      <li><a href="{% url 'mysigns' %}">My Signs</a></li>
            {% endif %}
    </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
              <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ user }}</a></li>
              <li><a href="{%  url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
          {% else %}
              <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
      </ul>
  </div>
</nav>


<div class="container-fluid">
    <div class="container">
        {% block pageContent %}
        {% endblock %}
    </div>
</div>


</body>
</html>